<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.locked.shingranicommunity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".registration_login.registration.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".members.MemberActivity"></activity>
        <activity android:name=".dashboard.announncement.create_announce.CreateAnnouncementActivity" />
        <activity android:name=".registration_login.registration.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".registration_login.registration.RegistrationActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".dashboard.event.create_event.CreateItemActivity"
            android:label="Create Event">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".dashboard.DashBoardViewPagerActivity"
            android:label="@string/app_name"/>
    </application>

</manifest>